<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key,messagel| %>
      <div class="text-center alert alert-<%= == 'notice'? 'success': 'danger' %>">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
